In [4]:
import requests
import datetime
import pandas as pd

In [9]:
# Especificar los parámetros de la solicitud
comunidades = '01'
fecha_inicio = '200201'  # Año y mes de inicio (en este caso, enero de 2002)
fecha_fin = '202112'  # Año y mes de fin (en este caso, diciembre de 2021)
variables = 'P5017'  # Lista de variables separadas por comas

# Construir la URL de la solicitud y hacer la solicitud HTTP para cada comunidad
datos_totales = pd.DataFrame()
for comunidad in comunidades:
    # Construir la URL de la solicitud
    url_base = 'https://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/'
    url_solicitud = f'{url_base}{variables}/{comunidad}/{fecha_inicio}/{fecha_fin}'

    # Hacer la solicitud HTTP y recibir la respuesta
    respuesta = requests.get(url_solicitud)

    # Procesar los datos recibidos y convertirlos a un DataFrame de pandas
    datos = pd.read_csv(respuesta.text, sep=';')

    # Agregar los datos de la comunidad actual al DataFrame de datos totales
    datos['comunidad'] = comunidad
    datos_totales = pd.concat([datos_totales, datos], ignore_index=True)


# Mostrar los primeros 10 registros de los datos totales
print(datos_totales.head(10))

FileNotFoundError: [Errno 2] No such file or directory: ''

In [27]:
url_plantilla = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{codigo}?nult={num_datos}'
codigo = "EPA87"
num_datos = 300

url = url_plantilla.format(codigo=codigo, num_datos=num_datos)
respuesta = requests.get(url)
datos = respuesta.json()

datos

{'COD': 'EPA87',
 'Nombre': 'Total Nacional. Ambos sexos. 16 y más años. Ocupados. Personas. ',
 'FK_Unidad': 3,
 'FK_Escala': 4,
 'Notas': [{'texto': 'http://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176918&menu=ultiDatos&idp=1254735976595#~#http://www.ine.es/consul/serie.do?s=EPA87&nult=100&TB_iframe=true&position=center&width=700&height=500&L=0&nocab=1',
   'Fk_TipoNota': 6,
   'textoTipo': None}],
 'Data': [{'Fecha': 1009839600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2002,
   'Valor': 16482.3,
   'Secreto': False},
  {'Fecha': 1017612000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2002,
   'Valor': 16766.9,
   'Secreto': False},
  {'Fecha': 1025474400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2002,
   'Valor': 16919.3,
   'Secreto': False},
  {'Fecha': 1033423200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2002,
   'Valor': 16991.9,
   'Secreto': False},
  {'Fecha': 1041375600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2003,
   'Valor': 17092.7,
   'Secreto': False},
  {'Fecha': 1049148000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2003,
   'Valor': 17423.2,
   'Secreto': False},
  {'Fecha': 1057010400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2003,
   'Valor': 17646.0,
   'Secreto': False},
  {'Fecha': 1064959200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2003,
   'Valor': 17740.5,
   'Secreto': False},
  {'Fecha': 1072911600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2004,
   'Valor': 17770.2,
   'Secreto': False},
  {'Fecha': 1080770400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2004,
   'Valor': 18018.9,
   'Secreto': False},
  {'Fecha': 1088632800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2004,
   'Valor': 18289.1,
   'Secreto': False},
  {'Fecha': 1096581600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2004,
   'Valor': 18490.8,
   'Secreto': False},
  {'Fecha': 1104534000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2005,
   'Valor': 18736.1,
   'Secreto': False},
  {'Fecha': 1112306400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2005,
   'Valor': 19160.6,
   'Secreto': False},
  {'Fecha': 1120168800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2005,
   'Valor': 19422.1,
   'Secreto': False},
  {'Fecha': 1128117600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2005,
   'Valor': 19509.2,
   'Secreto': False},
  {'Fecha': 1136070000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2006,
   'Valor': 19578.4,
   'Secreto': False},
  {'Fecha': 1143842400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2006,
   'Valor': 19891.6,
   'Secreto': False},
  {'Fecha': 1151704800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2006,
   'Valor': 20091.0,
   'Secreto': False},
  {'Fecha': 1159653600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2006,
   'Valor': 20195.4,
   'Secreto': False},
  {'Fecha': 1167606000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2007,
   'Valor': 20267.5,
   'Secreto': False},
  {'Fecha': 1175378400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2007,
   'Valor': 20580.9,
   'Secreto': False},
  {'Fecha': 1183240800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2007,
   'Valor': 20753.4,
   'Secreto': False},
  {'Fecha': 1191189600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2007,
   'Valor': 20717.9,
   'Secreto': False},
  {'Fecha': 1199142000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2008,
   'Valor': 20620.0,
   'Secreto': False},
  {'Fecha': 1207000800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2008,
   'Valor': 20646.9,
   'Secreto': False},
  {'Fecha': 1214863200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2008,
   'Valor': 20556.4,
   'Secreto': False},
  {'Fecha': 1222812000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2008,
   'Valor': 20055.3,
   'Secreto': False},
  {'Fecha': 1230764400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2009,
   'Valor': 19284.4,
   'Secreto': False},
  {'Fecha': 1238536800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2009,
   'Valor': 19154.2,
   'Secreto': False},
  {'Fecha': 1246399200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2009,
   'Valor': 19098.4,
   'Secreto': False},
  {'Fecha': 1254348000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2009,
   'Valor': 18890.4,
   'Secreto': False},
  {'Fecha': 1262300400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2010,
   'Valor': 18652.9,
   'Secreto': False},
  {'Fecha': 1270072800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2010,
   'Valor': 18751.1,
   'Secreto': False},
  {'Fecha': 1277935200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2010,
   'Valor': 18819.0,
   'Secreto': False},
  {'Fecha': 1285884000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2010,
   'Valor': 18674.9,
   'Secreto': False},
  {'Fecha': 1293836400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2011,
   'Valor': 18426.2,
   'Secreto': False},
  {'Fecha': 1301608800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2011,
   'Valor': 18622.0,
   'Secreto': False},
  {'Fecha': 1309471200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2011,
   'Valor': 18484.5,
   'Secreto': False},
  {'Fecha': 1317420000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2011,
   'Valor': 18153.0,
   'Secreto': False},
  {'Fecha': 1325372400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2012,
   'Valor': 17765.1,
   'Secreto': False},
  {'Fecha': 1333231200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2012,
   'Valor': 17758.5,
   'Secreto': False},
  {'Fecha': 1341093600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2012,
   'Valor': 17667.7,
   'Secreto': False},
  {'Fecha': 1349042400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2012,
   'Valor': 17339.4,
   'Secreto': False},
  {'Fecha': 1356994800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2013,
   'Valor': 17030.2,
   'Secreto': False},
  {'Fecha': 1364767200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2013,
   'Valor': 17160.6,
   'Secreto': False},
  {'Fecha': 1372629600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2013,
   'Valor': 17230.0,
   'Secreto': False},
  {'Fecha': 1380578400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2013,
   'Valor': 17135.2,
   'Secreto': False},
  {'Fecha': 1388530800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2014,
   'Valor': 16950.6,
   'Secreto': False},
  {'Fecha': 1396303200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2014,
   'Valor': 17353.0,
   'Secreto': False},
  {'Fecha': 1404165600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2014,
   'Valor': 17504.0,
   'Secreto': False},
  {'Fecha': 1412114400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2014,
   'Valor': 17569.1,
   'Secreto': False},
  {'Fecha': 1420066800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2015,
   'Valor': 17454.8,
   'Secreto': False},
  {'Fecha': 1427839200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2015,
   'Valor': 17866.5,
   'Secreto': False},
  {'Fecha': 1435701600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2015,
   'Valor': 18048.7,
   'Secreto': False},
  {'Fecha': 1443650400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2015,
   'Valor': 18094.2,
   'Secreto': False},
  {'Fecha': 1451602800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2016,
   'Valor': 18029.6,
   'Secreto': False},
  {'Fecha': 1459461600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2016,
   'Valor': 18301.0,
   'Secreto': False},
  {'Fecha': 1467324000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2016,
   'Valor': 18527.5,
   'Secreto': False},
  {'Fecha': 1475272800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2016,
   'Valor': 18508.1,
   'Secreto': False},
  {'Fecha': 1483225200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2017,
   'Valor': 18438.3,
   'Secreto': False},
  {'Fecha': 1490997600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2017,
   'Valor': 18813.3,
   'Secreto': False},
  {'Fecha': 1498860000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2017,
   'Valor': 19049.2,
   'Secreto': False},
  {'Fecha': 1506808800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2017,
   'Valor': 18998.4,
   'Secreto': False},
  {'Fecha': 1514761200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2018,
   'Valor': 18874.2,
   'Secreto': False},
  {'Fecha': 1522533600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2018,
   'Valor': 19344.1,
   'Secreto': False},
  {'Fecha': 1530396000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2018,
   'Valor': 19528.0,
   'Secreto': False},
  {'Fecha': 1538344800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2018,
   'Valor': 19564.6,
   'Secreto': False},
  {'Fecha': 1546297200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2019,
   'Valor': 19471.1,
   'Secreto': False},
  {'Fecha': 1554069600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2019,
   'Valor': 19804.9,
   'Secreto': False},
  {'Fecha': 1561932000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2019,
   'Valor': 19874.3,
   'Secreto': False},
  {'Fecha': 1569880800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2019,
   'Valor': 19966.9,
   'Secreto': False},
  {'Fecha': 1577833200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2020,
   'Valor': 19681.3,
   'Secreto': False},
  {'Fecha': 1585692000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2020,
   'Valor': 18607.2,
   'Secreto': False},
  {'Fecha': 1593554400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2020,
   'Valor': 19176.9,
   'Secreto': False},
  {'Fecha': 1601503200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2020,
   'Valor': 19344.3,
   'Secreto': False},
  {'Fecha': 1609455600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2021,
   'Valor': 19206.8,
   'Secreto': False},
  {'Fecha': 1617228000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2021,
   'Valor': 19671.7,
   'Secreto': False},
  {'Fecha': 1625090400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2021,
   'Valor': 20031.0,
   'Secreto': False},
  {'Fecha': 1633039200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2021,
   'Valor': 20184.9,
   'Secreto': False},
  {'Fecha': 1640991600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 19,
   'Anyo': 2022,
   'Valor': 20084.7,
   'Secreto': False},
  {'Fecha': 1648764000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 20,
   'Anyo': 2022,
   'Valor': 20468.0,
   'Secreto': False},
  {'Fecha': 1656626400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 21,
   'Anyo': 2022,
   'Valor': 20545.7,
   'Secreto': False},
  {'Fecha': 1664575200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 22,
   'Anyo': 2022,
   'Valor': 20463.9,
   'Secreto': False}]}

In [5]:
edad=pd.read_csv("Edad.csv", sep=';')

In [6]:
edad.head()

  Comunidades y Ciudades Autónomas         Sexo  Periodo  Total
0                   Total Nacional  Ambos sexos     2022  44,07
1                   Total Nacional  Ambos sexos     2021   43,8
2                   Total Nacional  Ambos sexos     2020  43,58
3                   Total Nacional  Ambos sexos     2019  43,38
4                   Total Nacional  Ambos sexos     2018  43,18

In [7]:
edad.Periodo.unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
       2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990,
       1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979,
       1978, 1977, 1976, 1975], dtype=int64)

In [8]:
edad.columns

Index(['Comunidades y Ciudades Autónomas', 'Sexo', 'Periodo', 'Total'], dtype='object')

In [9]:
edad['Comunidades y Ciudades Autónomas'].unique()

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [10]:
married=pd.read_csv("Marriage.csv", sep=';')

In [11]:
married.columns

Index(['Comunidades y Ciudades Autónomas', 'Periodo', 'Total'], dtype='object')

In [12]:
married.Periodo

0        2021M12
1        2021M11
2        2021M10
3        2021M09
4        2021M08
          ...
11839    1975M05
11840    1975M04
11841    1975M03
11842    1975M02
11843    1975M01
Name: Periodo, Length: 11844, dtype: object

In [13]:
married['Comunidades y Ciudades Autónomas'].unique()

array(['Total', '01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla', 'No residente'], dtype=object)

In [14]:
growth=pd.read_csv("PopGrowth.csv", sep=';')

In [15]:
growth.columns

Index(['Comunidades y Ciudades Autónomas', 'Periodo', 'Total'], dtype='object')

In [16]:
growth.Periodo

0      2021
1      2020
2      2019
3      2018
4      2017
       ...
935    1979
936    1978
937    1977
938    1976
939    1975
Name: Periodo, Length: 940, dtype: int64

In [17]:
born=pd.read_csv("NatalityRate.csv", sep=';')

In [18]:
born.columns

Index(['Comunidades y Ciudades Autónomas', 'Nacionalidad', 'Periodo', 'Total'], dtype='object')

In [19]:
born.Periodo

0       2021
1       2020
2       2019
3       2018
4       2017
        ...
1195    2006
1196    2005
1197    2004
1198    2003
1199    2002
Name: Periodo, Length: 1200, dtype: int64

In [20]:
extranjeros=pd.read_csv("ProporcionExtranjeros.csv", sep=';')

In [21]:
extranjeros.columns

Index(['Comunidades y Ciudades Autónomas', 'Sexo', 'Edad', 'Periodo', 'Total'], dtype='object')

In [22]:
extranjeros.Periodo.unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002],
      dtype=int64)

In [23]:
ex=pd.read_csv("Proporción de población nacida en el extranjero por comunidad autónoma, según sexo, edad y nacionalidad (desde 2002).csv", sep=';')

In [24]:
ex.columns

Index(['Comunidades y Ciudades Autónomas', 'Sexo', 'Edad', 'Nacionalidad',
       'Periodo', 'Total'],
      dtype='object')

In [25]:
ex.Nacionalidad.unique()

array(['Ambas nacionalidades', 'Española', 'Extranjera'], dtype=object)

In [26]:
man=pd.read_csv("RatioMasculinidad.csv", sep=';')

In [27]:
man.columns

Index(['Comunidades y Ciudades Autónomas', 'Periodo', 'Total'], dtype='object')

In [28]:
man.Periodo

0      2022
1      2021
2      2020
3      2019
4      2018
       ...
955    1979
956    1978
957    1977
958    1976
959    1975
Name: Periodo, Length: 960, dtype: int64

In [29]:
bornmonth=pd.read_csv("Movimiento Natural de la Población Nacimientos.csv", sep=';')

In [30]:
bornmonth.columns

Index(['Comunidades y Ciudades Autónomas', 'Periodo', 'Total'], dtype='object')

In [31]:
bornmonth['Comunidades y Ciudades Autónomas'].value_counts()

Total                             564
11 Extremadura                    564
19 Melilla                        564
18 Ceuta                          564
17 Rioja, La                      564
16 País Vasco                     564
15 Navarra, Comunidad Foral de    564
14 Murcia, Región de              564
13 Madrid, Comunidad de           564
12 Galicia                        564
10 Comunitat Valenciana           564
01 Andalucía                      564
09 Cataluña                       564
08 Castilla - La Mancha           564
07 Castilla y León                564
06 Cantabria                      564
05 Canarias                       564
04 Balears, Illes                 564
03 Asturias, Principado de        564
02 Aragón                         564
No residente                      564
Name: Comunidades y Ciudades Autónomas, dtype: int64

In [32]:
bornmonth.Periodo

0        2021M12
1        2021M11
2        2021M10
3        2021M09
4        2021M08
          ...
11839    1975M05
11840    1975M04
11841    1975M03
11842    1975M02
11843    1975M01
Name: Periodo, Length: 11844, dtype: object

In [37]:
bornmonth.Total

0        28.574
1        28.452
2        30.135
3        30.229
4        29.640
          ...
11839    72.000
11840    60.000
11841    55.000
11842    55.000
11843    77.000
Name: Total, Length: 11844, dtype: float64

In [33]:
cases=pd.read_csv("ccaa_covid19_casos_long.csv")

In [34]:
cases.columns

Index(['fecha', 'cod_ine', 'CCAA', 'total'], dtype='object')

In [35]:
cases.CCAA.unique()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla La Mancha', 'Castilla y León', 'Cataluña',
       'Ceuta', 'C. Valenciana', 'Extremadura', 'Galicia', 'Madrid',
       'Melilla', 'Murcia', 'Navarra', 'País Vasco', 'La Rioja'],
      dtype=object)

In [36]:
deaths=pd.read_csv("ccaa_covid19_fallecidos_long.csv")

In [80]:
deaths.columns

Index(['fecha', 'cod_ine', 'CCAA', 'total'], dtype='object')

In [81]:
man.Periodo

0      2022
1      2021
2      2020
3      2019
4      2018
       ...
955    1979
956    1978
957    1977
958    1976
959    1975
Name: Periodo, Length: 960, dtype: int64